$background-color: -webkit-gradient(linear, right top, left top, color-stop(126.09%, rgba(243, 216, 77, 0.14)), color-stop(72.03%, #F3644D), color-stop(32.43%, #F3644D), color-stop(-16.3%, rgba(243, 216, 77, 0.14))), #F3644D;
$julias-black: #2A2D34;
$julias-white: #F0F0F0;
$julias-orange: #F3644D;
$xl-font-size: 80px;
$l-font-size: 40px;
$m-font-size: 36px;
$s-font-size: 24px;
